<div
  class="relative w-full h-[430px] bg-white dark:bg-main-dark shadow dark:shadow-main-gray rounded-lg flex flex-col"
>
  <!-- Image Skeleton -->
  <p-skeleton width="100%" height="180px" borderRadius="0.5rem 0.5rem 0 0" />

  <!-- Content -->
  <div class="w-full flex flex-col p-3">
    <!-- Title -->
    <p-skeleton width="70%" height="20px" class="mb-2" />

    <!-- Description (2 lines) -->
    <p-skeleton width="100%" height="12px" class="mb-1" />
    <p-skeleton width="90%" height="12px" class="mb-3" />

    <!-- Price + Stars -->
    <div class="w-full flex items-end justify-between">
      <p-skeleton width="80px" height="20px" />
      <div class="flex items-center gap-1">
        @for (star of [1, 2, 3, 4, 5]; track star) {
        <p-skeleton shape="circle" size="16px" />
        }
      </div>
    </div>

    <!-- Author -->
    <span class="text-xs text-main-gray font-medium my-2">Author:</span>
    <div class="w-full flex items-center gap-2">
      <p-skeleton shape="circle" size="40px" />
      <p-skeleton width="100px" height="16px" />
    </div>
  </div>

  <div class="w-full h-[1px] bg-gray-300 dark:bg-main-gray"></div>

  <!-- Footer Buttons -->
  <div class="w-full px-3 py-1.5 flex items-center justify-end gap-2">
    <p-skeleton width="90px" height="30px" />
    <p-skeleton shape="circle" size="32px" />
  </div>
</div>
