<section class="w-full h-full flex flex-col px-2 md:px-20 gap-5 pt-5 md:pt-10">
  <!-- Filter component 🚩 -->
  <app-courses-filter
    [filterTypes]="filterTypes"
    [orderTypes]="orderTypes"
    (filtersChanged)="onFiltersChanged($event)"
  />

  @if(coursesService.loading()) {
  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 3xl:grid-cols-5 gap-5">
    @for (skeleton of skeletons; track $index) {
    <app-course-card-skeleton />
    }
  </div>
  } @if(coursesService.courses().length === 0 && !coursesService.loading()) {
  <app-no-data />
  } @else {
  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 3xl:grid-cols-5 gap-5">
    @for (item of coursesService.courses(); track item.id) {
    <app-course-card [course]="item" />
    }
  </div>
  }
</section>
