<div
  class="sticky top-5 right-0 w-full flex flex-col bg-white dark:bg-main-dark rounded-lg p-5 shadow"
>
  <div class="w-full flex items-end justify-between">
    <h1 class="font-semibold text-xl">Price</h1>
    <div class="flex-1 border-b border-dashed"></div>
    <h1 class="font-semibold text-xl">{{ course()?.price | currency }}</h1>
  </div>
  <p-button
    label="Add to favourities"
    [outlined]="true"
    size="large"
    styleClass="!w-full !rounded-xl !mt-7"
    (onClick)="addToFavourite()"
  />

  <button
    (click)="addToCart()"
    pButton
    size="large"
    class="!rounded-xl mt-4 bg-gradient !border-none !text-white flex items-center justify-center gap-2 !cursor-pointer"
  >
    <span pButtonLabel>Add to cart</span>
    <lucide-icon [name]="ShoppingCartIcon" size="20" color="white"></lucide-icon>
  </button>
</div>
