<div class="w-full flex items-start justify-between">
  <div class="flex items-start gap-3">
    <img
      [src]="item()?.course?.image"
      alt="course image"
      class="w-20 h-20 rounded-md object-cover"
    />
    <div class="flex flex-col">
      <h1 class="font-semibold">{{ item()?.course?.title }}</h1>
      <p class="text-xs text-main-gray line-clamp-2 w-80 mb-2">
        {{ item()?.course?.description }}
      </p>
      <div class="flex items-center gap-2">
        <div class="flex items-center gap-2">
          <lucide-icon [name]="BookCheckIcon" color="gray" size="15"></lucide-icon>
          <span class="text-xs text-main-gray font-semibold"
            >{{ item()?.course?.lessons }} lessons</span
          >
        </div>
        <div class="flex items-center gap-2">
          <lucide-icon [name]="AlarmClockCheckIcon" color="gray" size="15"></lucide-icon>
          <span class="text-xs text-main-gray font-semibold"
            >{{ item()?.course?.hours }} hours</span
          >
        </div>
        <div class="flex items-center gap-2">
          <lucide-icon [name]="GlobeIcon" color="gray" size="15"></lucide-icon>
          <span class="text-xs text-main-gray font-semibold"
            >Language: {{ item()?.course?.language }}</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-end gap-2">
    <span class="font-bold text-lg">{{ item()?.course?.price | currency }}</span>
    <p-button
      (onClick)="cartStore.removeFromCart(item()?.id || '').subscribe()"
      variant="text"
      severity="danger"
      [rounded]="true"
      size="small"
    >
      <ng-template pTemplate="icon">
        <lucide-angular size="15" [name]="Trash2Icon" />
      </ng-template>
    </p-button>
  </div>
</div>
