<div class="w-full flex flex-col items-center mt-10 gap-10">
  <h1 class="text-3xl font-bold">Reviews</h1>
  <!-- Reviews Carousel 🚩 -->
  @if(course()?.reviews?.length){
  <p-carousel
    [value]="course()?.reviews || []"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="4000"
    [showIndicators]="false"
    [showNavigators]="true"
    [responsiveOptions]="responsiveOptions"
    class="w-full"
  >
    <ng-template pTemplate="item" let-review>
      <div class="px-2">
        <app-course-review-card [item]="review" />
      </div>
    </ng-template>
  </p-carousel>
  } @else {
  <div class="w-full h-40 flex items-center justify-center">
    <h1 class="text-3xl md:text-5xl font-semibold text-main-gray">No Reviews yet!</h1>
  </div>
  }

  <!-- Add Review 🚩 -->
  <div class="w-full md:w-1/2 flex flex-col gap-4">
    <div class="w-full flex flex-col md:flex-row items-start gap-2">
      <textarea
        [rows]="textareaRows()"
        cols="30"
        pTextarea
        [(ngModel)]="value"
        class="!flex-1 w-full resize-none"
        placeholder="Leave your review..."
      ></textarea>
      <p-select
        [options]="rates"
        [(ngModel)]="selectedRate"
        optionLabel="name"
        optionValue="code"
        placeholder="Select a rate"
        class="w-full md:w-56"
      />
    </div>
    <p-button
      [disabled]="isSubmitting()"
      [loading]="isSubmitting()"
      (onClick)="addReview()"
      label="Submit"
      [outlined]="true"
      styleClass="!w-full"
    />
  </div>
</div>
